.main-navbar{
    @include displayFlex(space-between, center, row);

    &__list{
        @include displayFlex(center, center, column);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $blue-solid;
        z-index: 300;
        opacity: 0;
        transform: scale(0);
        transition: opacity .5s;
        padding: 2rem 0;
    }

    &__item:not(:last-child){
        margin-bottom: .5rem;
    }

    &__link{
        display: block;
        color: #fff;
        font-size: 2.2rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: 1rem;
    }
}

.hamburger-menu{
    font-size: 2.6rem;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 999;
}

.hamburger-menu .fa-times{
    display: none;
}

.menu-open .main-navbar__list {
    opacity: 1;
    transform: scale(1);
}

.menu-open .hamburger-menu .fa-times{
    display: block;
}

.menu-open .hamburger-menu .fa-bars{
    display: none;
}

.logo{
    color: #fff;
    font-size: 2rem;
}
