.offer{
    background: linear-gradient(to right, rgba(250, 158, 44, .8), rgba(7, 113, 219, .8)),
    url("../images/hotel4.jpg") center center no-repeat;
    background-size: cover;

    &__content{
        background-color: #fff;
        text-align: center;
        padding: 5rem 1rem;
        position: relative;
        overflow: hidden;
    }

    &__discount{
        background-color: $yellow-solid;
        position: absolute;
        top: 0;
        left: 0;
        padding: 1rem;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: bold;
        outline: .2rem solid $yellow-solid;
        outline-offset: .3rem;
    }

    &__info{
        color: #a5a5a5;
        margin-bottom: 2.5rem;
        font-size: 1.8rem;
    }
}