    $dark-color: #2d2c2c;
    $blue-solid: #00458B;
    $blue-transparent: rgba(0, 69, 139, .7);
    $blue-transparent-alt: rgba(0, 69, 139, .3);
    $blue-light: rgb(7, 113, 219);
    $yellow-solid: #ff9718;
    $gradient-color: linear-gradient(to right, $yellow-solid, $blue-light);
    $gradient-color-alt: linear-gradient(to right, $blue-light, $yellow-solid);

   
